@charset "UTF-8";
/*maps*/
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle&family=Fjalla+One&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:wght@400;500&family=The+Nautigal:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace 'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; }

body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.411)), url(../assets/imagenes/box_fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

body p {
  color: white; }

.divVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  filter: brightness(50%); }

section.tituloprincipalIndex {
  justify-content: center;
  align-items: center; }
  section.tituloprincipalIndex div.centrartextoIndex {
    text-align: center; }
    section.tituloprincipalIndex div.centrartextoIndex h1.letratituloIndex {
      color: #fc501bbe;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bolder;
      font-size: 5rem;
      font-style: italic;
      text-align: center; }
    section.tituloprincipalIndex div.centrartextoIndex p.whitecentrarTextoIndex {
      color: white;
      text-align: center; }
    section.tituloprincipalIndex div.centrartextoIndex hr.whiteIndex {
      color: white; }

footer p {
  color: white; }

/* tiene que quedar todo en imports */
body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.411)), url(../assets/imagenes/box_fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

h3 {
  color: white;
  font-family: 'Serigrafía'; }

body p {
  color: white; }

footer p {
  color: white; }

.centrarTexto {
  text-align: center; }

.alinearTexto {
  justify-content: center;
  align-items: center; }

.fondoWhite {
  background-color: white; }

.YellowText {
  color: #e8ff15; }

.white {
  color: white; }

.black {
  color: black; }

.fondoCards {
  background-color: #fc4f1b; }

.letraNaranjita {
  color: #fc501bbe; }

.fondoNaranjita {
  background-color: #fc501bbe; }

.letraTitulo {
  color: #fc501bbe;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  font-style: italic;
  text-align: center; }

.stylenone {
  list-style: none;
  text-decoration: none; }

.footerFondo {
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.596)), url(../assets/imagenes/box-nueva-entrenando8.jpg);
  background-size: contain;
  background-repeat: repeat; }

.fabrandColor {
  color: #ff9b18; }

.filtro {
  filter: brightness(75%); }

.cover {
  object-fit: cover; }

.bordeSito {
  border-style: solid; }

.letraFooter {
  font-size: 1.5rem;
  color: #fc501bbe; }

@media (max-width: 575px) {
  .letraTitulo {
    font-size: 3rem; } }
