
@mixin alineacion-flex($justify,$text-aling) {
    justify-content: $justify;
    text-align: $text-align;
}


@mixin estiladosTitulo($color,$font,$grosor,$anchoFuente,$style,$align){
    color: $color;
    font-family: $font;
    font-weight: $grosor;
    font-size: $anchoFuente;
    font-style: $style;
    text-align: $align;

}
