$ancho :100%;
$borde-principal: 1px solid black;
$center:center;
$text-align: center;
$colorprincipalNaranjita: #fc501bbe;
$fontTitulos: 5rem;
$letraTitulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$tituloWeight: bolder;
$tituloStyle: italic;
$backgroundNaranjita:#fc501bbe;
$colorprincipalWhite: white;
$tamañoFuente: 1rem;


/*maps - key -value */ 

$coloresPrincipales:(
    Naranjita : #fc501bbe,
    blanco : white,
    negro : black,
    oro: rgb(255, 155, 24),

);

$estilos: (
  color: #d9368a,
  centro: center,
  tFuente: 50px,
  1rem : 1rem,
  3rem : 3rem,
  2rem : 2rem,
);