.stylenone {
    list-style: none;
    text-decoration: none;
}


.filtro {
    filter: brightness(75%);
}

.cover {
    object-fit: cover;
}


.bordeSito {
    border-style: solid;
}

.centrarTexto {
    text-align: center;
}

.alinearTexto {
    justify-content: center;
    align-items: center;
}

.fondoWhite {
    background-color: rgb(255, 255, 255);
}

.white {
    color: rgb(255, 255, 255);

}

.black {
    color: black;
}

.fondoCards {
    background-color: #fc4f1b;
}

.letraNaranjita {
    color: #fc501bbe;
}

.fondoNaranjita {
    background-color: #fc501bbe;
}

.fontsize {
    font-size: 1.5rem;
}

.marginTop {
    margin-top: 20rem;
}


.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fc501bbe;
}

.fondo404 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.411)), url(../assets/imagenes/ko2.jpg);

}

.boton404{
background-color: #fd510d !important;
border: #fd510d !important;
  }