@import "variables";
@import "reset";
@import "fonts";
@import "mixins";
@import "body";
@import "header";
@import "main";
@import "footer";
@import "mediaqueris";
@import "estiladospropios";
 

/* tiene que quedar todo en imports */



.letraTitulo {
    color: #fc501bbe;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
}



