.stylenone {
    list-style: none;
    text-decoration: none;
}


.filtro {
    filter: brightness(75%);
}

.cover {
    object-fit: cover;
}


.bordeSito {
    border-style: solid;
}

.centrarTexto {
    text-align: center;
}

.alinearTexto {
    justify-content: center;
    align-items: center;
}

.fondoWhite {
    background-color: rgb(255, 255, 255);
}

.white {
    color: rgb(255, 255, 255);

}

.black {
    color: black;
}

.fondoCards {
    background-color: #fc4f1b;
}

.letraNaranjita {
    color: #fc501bbe;
}

.fondoNaranjita {
    background-color: #fc501bbe;
}

